<!DOCTYPE html>
{% load static %}
{% load attributes %}
<html lang="en" class="h-100">
<head>
    {% include 'customer/layouts/head.html' %}
	<!-- PAGE TITLE HERE -->
	<title>Sign-up | Turongo LifeStyle</title>
	
</head>

    <body class="vh-100" style="background:#3abfae">
        <div class="authincation h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="authincation-content position-relative">
                            <div class="position-absolute top-0 end-0">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show custom_alert" role="alert">
                                            {{ message }}.
                                            <button type="button" class="btn-close custom_alert_button" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12 col-xl-12">
                                    <div class="auth-form">
                                        <div class="text-center mb-3">
                                            <a href="{% url 'customer:customer_home_view' %}"><img style="width:100%" src="{% static 'images/logo.png' %}" alt=""></a>
                                        </div>
                                        <h4 class="text-center mb-4">Sign up your account</h4>
                                        <form method='POST' action="{% url 'customer:customer_add' %}">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label class="mb-1"><strong>User Name</strong></label>
                                                <input type="text" class="form-control" name='user_name' placeholder="user name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label class="mb-1"><strong>Phone Number</strong></label>
                                                <input type="text" class="form-control" minlength="11" maxlength="11" name='phone_number' placeholder="01797856XXX" required>
                                            </div>
                                            {% comment %} <div class="mb-3 position-relative">
                                                <label class="mb-1"><strong>Password</strong></label>
                                                <input type="password" id="ipassword" class="form-control" name="password" placeholder="Password">
                                                <span class="password_show_hide position-absolute" style="top:53%;right:10px" id="password"><i class="far fa-eye"></i></span>
                                            </div>
                                            <div class="mb-3 position-relative">
                                                <label class="mb-1"><strong>Confirm Password</strong></label>
                                                <input type="password" class="form-control" name="password2" id="irepassword" placeholder="confirm password" required>
                                                <span class="password_show_hide position-absolute" style="top:53%;right:10px" id="repassword"><i class="far fa-eye"></i></span>
                                            </div> {% endcomment %}
                                            <div class="text-center mt-4">
                                                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                                            </div>
                                        </form>
                                        <div class="new-account mt-3">
                                            <p>Already have an account? <a class="text-primary" href="{% url 'customer:login_view' %}">Sign in</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        {% include 'customer/layouts/scripts.html' %}
    </body>
</html>