{% extends 'customer/layouts/index.html' %}
{% block customertitle %}{{customertitle}}{% endblock customertitle %}

{% block customerbody %}
<style>
    .review-card{
        padding: 7px 0px
    }
    .review-header{
        display: flex;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
    }
    .review-header-left{
        flex: 1 1 auto;
    }
    .review-header-right{
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }
    .average-rating{
        display: flex;
        column-gap: 7px;
    }
    .average-rating svg{
        font-size: 20px;
    }
    
    .rating_active{
        color:orange
    }
    .slide-item-list li {
        width:100%
    }
    .slide-item-list li a{
        width:100%;
        border: 1px solid; 
        border-color:white
    }
    .slide-item-list li a:hover, 
    .slide-item-list li a:focus,
    .slide-item-list li a:active{
        border: 1px solid #302c2c;
    }
    .full-description figure img{
        width: 100%;
    }
    /* WebKit-based browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
    width: 10px; /* vertical scroll bar width */
    height: 10px; /* horizontal scroll bar height */
    }

    /* Mozilla Firefox */
    ::-moz-scrollbar {
    width: 10px; /* vertical scroll bar width */
    height: 10px; /* horizontal scroll bar height */
    }
    .product_size:focus{
        box-shadow:none
    }
    .regular_price{
        font-size: 16px;
        opacity: 0.8;
        text-decoration: line-through;
        color: #d11717;
    }
    .offer_price{
        font-size: 1.6rem !important;
    }
    .offer_percentage{
        padding: 2px 8px;
        background: green;
        color: white !important;
        border-radius: 7px;
        margin: 0  !important;
        font-size: 0.79rem !important;
    }
</style>
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{% url 'customer:customer_home_view' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">{{product.p_name}}</a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-xxl-6 col-12">
                            <div class="d-flex flex-column flex-md-row">
                                <div class="flex-grow-1">
                                    <div class="tab-content">
                                        
                                        {% for image in product.product_images.all %}
                                            {% if image.pimage_type == 'phone' %}
                                                {% if image.pimage_priority == 1 %}
                                                    <div role="tabpanel" class="tab-pane fade show active" id="tab{{image.pimage_priority}}">
                                                        <img class="img-fluid w-100" src="{{image.p_image.url}}" alt="">
                                                    </div>
                                                    {% else %}
                                                    <div role="tabpanel" class="tab-pane fade float-end"  id="tab{{image.pimage_priority}}">
                                                        <img class="img-fluid w-100" src="{{image.p_image.url}}" alt="">
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                                <div class="">
                                    
                                    <div class="tab-slide-content new-arrival-product mb-4 mb-xl-0 overflow-auto">
                                        <!-- Nav tabs -->
                                        <ul class="nav slide-item-list d-flex flex-sm-row flex-md-column align-items-end" style="row-gap: 10px;" role="tablist">
                                            
                                            {% for image in product.product_images.all %}
                                                {% if image.pimage_type == 'icon' %}
                                                    {% if image.pimage_priority == 1 %}
                                                    <li role="presentation">
                                                        <a class="active" href="#tab{{image.pimage_priority}}" role="tab" data-bs-toggle="tab" data-bs-target="#tab{{image.pimage_priority}}" aria-selected="true">
                                                            <img class="img-fluid" src="{{image.p_image.url}}" alt="" width="50">
                                                        </a>
                                                    </li>
                                                    {% else %}
                                                    <li role="presentation">
                                                        <a href="#tab{{image.pimage_priority}}" role="tab" data-bs-toggle="tab" data-bs-target="#tab{{image.pimage_priority}}"><img class="img-fluid" src="{{image.p_image.url}}" alt="" width="50"></a>
                                                    </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Tab panes -->
                            
                            
                        </div>
                        <!--Tab slider End-->
                        <div class="col-xl-6 col-lg-6 col-xxl-6 col-12">
                            <div class="product-detail-content">
                                <!--Product details-->
                                <div class="new-arrival-content">
                                    <h4 style="font-size:1.3rem !important">{{product.p_name}}</h4>
                                    
                                        
                                    <div class="d-table mb-2">
                                        <p class="price float-start d-block regular_price">TK.{{product.p_price}}</p>
                                        <p class="price float-start d-block offer_price">TK.{{product.p_offer_price}}</p>
                                        <p class="price float-start d-block offer_percentage">{{product.p_offer}}% off</p>
                                    </div>
                                    <p>Availability: 
                                        {% if product.total_product > 0 %}
                                            <span class="item"> In stock <i class="fa fa-shopping-basket"></i></span>
                                        {% else %}
                                            <span class="item"> out stock</span>
                                        {% endif %}

                                    </p>
                                    <p>Brand: <span class="item">{{product.p_brand.brand_name}}</span></p>
                                    
                                    <div class="d-flex gap-2">
                                        {% for size in product.product_sizes.all %}
                                        <button type="button" class="btn border-2 border-dark product_size" product-size="{{size.p_size.size_name}}">
                                            {{size.p_size.size_name}}
                                        </button>
                                        {% endfor %}
                                    </div>
                                    
                                    <div class="d-flex align-items-end flex-wrap mt-4 justify-content-center">
                                        <!--Quantity start-->
                                        <div class="col-6 px-0">
                                            <input type="number" id="quantity" class="form-control input-btn input-number py-0" value="1">
                                        </div>
                                        <!--Quanatity End-->
                                        <div class="shopping-cart">
                                            <button class="btn btn-primary" style="padding: 9px;" id="add_to_card" type="submit"><i class="fa fa-shopping-basket me-2"></i>Add
                                                to cart</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 m-0 p-0">
        <div class="col-lg-9 col-12">
            
            <div class="button-groups">
                {% comment %} <a href="#description">Descriptions</a> {% endcomment %}
                {% comment %} <a href="#question">Questions</a>
                <a href="#review">Review</a> {% endcomment %}
            </div>
            
            <div class="description" id="description">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h2>Descriptions</h2>
                        </div>
                        <div class="full-description">
                            <h2 style="font-size: 20px;font-weight: 700;">{{product.name}}</h2>
                            <p style="text-align: justify;" class="description_image_size">{{product.p_description|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="question" id="question">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h2>Questions & Answer ({{questions.count}})</h2>
                        </div>
                        <div class="full-description">
                            {% for question in questions %}
                                <div class="d-flex align-items-center oy-2" style="column-gap:10px;border-bottom: 1px solid gainsboro;">
                                    <div>Q: </div>
                                    <div>
                                        <div>{{question.question}}</div>
                                        <div>by <span style="color:#a97414">{{question.user.username}}</span></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="question-add py-4">
                            <h2 style="font-size: 20px;font-weight: 700;">Your Question</h2>
                            <div class="question-form">
                                <div class="mb-3">
                                    <textarea class="form-control" placeholder="Question" id="question_text" style="height: 150px;"></textarea>
                                </div>
                                {% if user.is_authenticated %}
                                <button class="btn btn-success btn-block" id="send_question">QUESTION</button>
                                {% else %}
                                <a href="#" class="btn btn-success btn-block">QUESTION</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review" id="review">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="review-header d-flex">
                            <div class="review-header-left">
                                <h2>Reviews ({{reviews.count}})</h2>
                                <p>Get specific details about this product from customers who own it.</p>
                                <div class="average-rating">
                                    <div class="rating-icon">
                                        <i class="fas fa-star {% if avg_rating >= 1 %}rating_active{% endif %}"></i>
                                        <i class="fas fa-star {% if avg_rating >= 2 %}rating_active{% endif %}"></i>
                                        <i class="fas fa-star {% if avg_rating >= 3 %}rating_active{% endif %}"></i>
                                        <i class="fas fa-star {% if avg_rating >= 4 %}rating_active{% endif %}"></i>
                                        <i class="fas fa-star {% if avg_rating >= 5 %}rating_active{% endif %}"></i>
                                    </div>
                                    <div class="rating-value">{{avg_rating}} out of 5</div>
                                </div>
                            </div>
                            <div class="review-header-right">
                                {% if user.is_authenticated %}
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#reviewModal">Write a Review</button>
                                {% else %}
                                <a class="btn btn-outline-primary" href="#" >Write a Review</a>
                                {% endif %}
                                
                            </div>
                

                        </div>
                        <div class="all-review">
                            {% for review in reviews %}
                                <div class="review-card">
                                    <div class="rating-icon">
                                        <i class="fas fa-star {% if review.review_number >= 1 %}rating_active{% endif %}"></i>
                                        <i class="fas fa-star {% if review.review_number >= 2 %}rating_active{% endif %}"></i>
                                        <i class="fas fa-star {% if review.review_number >= 3 %}rating_active{% endif %}"></i>
                                        <i class="fas fa-star {% if review.review_number >= 4 %}rating_active{% endif %}"></i>
                                        <i class="fas fa-star {% if review.review_number >= 5 %}rating_active{% endif %}"></i>
                                    </div>
                                    <p class="mb-1">{{review.review_text}}</p>
                                    <p class="m-0">By <span style="color: #d58b05;">{{review.user.username}}</span> on {{review.created_at|date:"d M Y"}}</p>
                                </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <div class="col-lg-3 col-12">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h2>Related Produdcts</h2>
                        {% for product in related_product %}
                            {% include "customer/product/product-card.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    <!-- review -->
    <div class="modal fade" id="reviewModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                        <div class="mb-3">
                            <div class="rating-widget mb-4 text-center">
                                <!-- Rating Stars Box -->
                                <div class="rating-stars">
                                    <ul id="stars" class="d-flex justify-content-center">
                                        <li class="star" title="Poor" data-value="1">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" title="Fair" data-value="2">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" title="Good" data-value="3">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" title="Excellent" data-value="4">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                        <li class="star" title="WOW!!!" data-value="5">
                                            <i class="fa fa-star fa-fw"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" placeholder="Comment" id="review_text" rows="5"></textarea>
                        </div>
                        <button class="btn btn-success btn-block" id="send_review">REVIEW</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock customerbody %}
{% block customerScript %}
<script>
    var select_product_size ='';
    var productSize = document.querySelectorAll('.product_size');
    productSize.forEach((size)=>{
        size.addEventListener("click",()=>{
            productSize.forEach((color)=>{
                color.classList.remove('border-success');
                color.classList.add('border-dark');
                
            });
            select_product_size = size.getAttribute("product-size");
            size.classList.remove('border-dark');
            size.classList.add('border-success');
        })
    })
    $("#add_to_card").on('click',()=>{
        if(select_product_size != ''){
            var product_id = "{{product.p_id}}";
            var product_quantity =  $("#quantity").val()
            
            $.ajax({
                type:"POST",
                url:"{% url 'customer:product_add_to_cart' %}",
                data:{
                    product_id:product_id,
                    select_product_size:select_product_size,
                    product_quantity:product_quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:(res)=>{
                    if(res['status'] == 'success'){
                        var total_product = res['total_product'];
                        add_to_cart(product_quantity,select_product_size)
                        $("#laptop_script_alert").empty();
                        $(".mobile_navbag_products").text(total_product.toString());
                        $("#laptop_bagtotal_product").text(total_product.toString());

                        /*var message_text = res['message_text'];
							var message_status = res['message_status'];
							var alert_message_component = `<div class="alert alert-`+message_status+` alert-dismissible fade show custom_alert" role="alert">
								`+message_text+`.
								<button type="button" class="btn-close custom_alert_button" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>`;
							$("#laptop_script_alert").append(
								alert_message_component
							);*/
                        var product = res['product'];
                        var total_price = parseInt(product['price']) * parseInt(product_quantity);
                        $("#modal_product_item").empty();
                            var cart_item = `<div class="mobile_nav_product_cart">
                                <div class="mnpc_img"><img src="`+product['image']+`"></div>
                                <div class="mnpc_product_detail">
                                    <div>`+product['title']+`</div>
                                    <div class="mnpc_pd_middle">
                                        <div class="mnpc_pd_middle_size">Size : <span>`+select_product_size+`</span></div>
                                        <div>`+product['offer_price']+`</div>
                                        <div class="mnpc_product_offer">
                                            <span class="regular_price">`+product['price']+`</span>
                                            <span class="offer_percentage">`+product['offer']+`%</span>
                                        </div>
                                    </div>
                                    <div class="mnpc_pd_bottom">
                                        
                                        <div class="mnpc_pdb_price_quantity">
                                            <span>`+product['offer_price']+`</span>
                                            <span>X</span>
                                            <span>`+product_quantity+`</span>
                                            <span> = </span>
                                            <span>`+total_price+`</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>`;
                        $("#modal_product_item").append(cart_item);
                        screen_checker();
                        $("#productcartModal").modal("show")
                    }
                }
            })
        }else{
            alert("Please Select product size");
        }
    });
    
    function screen_checker(){
        if(screen.width > 768){
            $(".button_view_cart").css('display','none');
            $(".link_view_cart").css('display','block');
        }else{
            $(".link_view_cart").css('display','none');
            $(".button_view_cart").css('display','block');
            $("#mobile_nav_bag_product_show_all").click(function(){
                mobile_screen_cart_product_show();
                $("#productcartModal").removeClass('show');
                $("#productcartModal").css('display','none');
            });
        }
    }
</script>
{% endblock customerScript %}
{% block customermodal %}
<div class="modal fade" id="productcartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="productcartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productcartModalLabel">Your product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal_product_item">
        
        </div>
        <div class="modal-footer justify-content-center">
          <a href="{% url 'customer:card_product_view' %}" class="btn btn_info link_view_cart" style="width: 45%;">View Cart</a>
          <button class="btn btn_info button_view_cart" style="width: 45%;" 
          id="mobile_nav_bag_product_show_all" 
          type="button"
          data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvasScrolling" 
          aria-controls="offcanvasScrolling"
          >View Cart</button>
        </div>
      </div>
    </div>
</div>
{% endblock customermodal %}
{% block customerDataLayer %}
<script>
    dataLayer.push({ ecommerce: null }); 
    // Clear the previous ecommerce object.
    var view_items= [];
    var view_item ={
                item_id: "{{product.p_id}}",
                item_name: "{{product.p_name}}",
                discount: parseInt("{{product.p_offer}}"),
                regular_price: parseInt("{{product.p_price}}"),
                discount_price: parseInt("{{product.p_offer_price}}"),
                item_brand: "{{product.p_brand.brand_name}}",
                item_category: "{{product.p_third_category.rc_three_name}}",
                item_category2: "{{product.p_category.category_name}}",
            };

    view_items.push(view_item);
    var value_price = parseInt("{{product.p_offer_price}}");
    dataLayer.push({
        event: "view_item",
        ecommerce: {
                currency: "BDT",
                value: value_price,
                items: view_items
            }
    });

    function add_to_cart(item_quantity,item_size){
        dataLayer.push({ ecommerce: null });
        // Clear the previous ecommerce object.
        var total_amount = parseInt("{{product.p_offer_price}}") * parseInt(item_quantity);

        var add_cart_items= [];
        var add_cart_item ={
                item_id: "{{product.p_id}}",
                item_name: "{{product.p_name}}",
                discount: parseInt("{{product.p_offer}}"),
                regular_price: parseInt("{{product.p_price}}"),
                discount_price: parseInt("{{product.p_offer_price}}"),
                item_brand: "{{product.p_brand.brand_name}}",
                item_category: "{{product.p_third_category.rc_three_name}}",
                item_category2: "{{product.p_category.category_name}}",
                quantity: parseInt(item_quantity),
                size: item_size
            };
            add_cart_items.push(add_cart_item);
        dataLayer.push({
            event: "add_to_cart",
            ecommerce: {
                currency: "BDT",
                value:total_amount,
                items: add_cart_items
            }
        });
    }
</script>
{% endblock customerDataLayer %}
