<div class="col-lg-2 col-md-3 col-sm-4 col-6">
    <div class="card">
        <div class="card-body">
            <div class="new-arrival-product">
                <div class="new-arrivals-img-contnent">
                    <img class="img-fluid" src="{{product.product_images.first.p_image.url}}" alt="">
                </div>
                <div class="new-arrival-content text-center mt-3">
                    <h4><a href="#">{{product.p_name}}</a></h4>
                    <ul class="star-rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-half-empty"></i></li>
                        <li><i class="fa fa-star-half-empty"></i></li>
                    </ul>
                    <span class="price">{{product.p_price}}</span>
                </div>
            </div>
        </div>
    </div>
</div>