<div class="col-md-12 col-6 p-1">
    <div class="card">
        <div class="card-body" style="padding:0.5rem">
            <div class="new-arrival-product">
                <div class="new-arrivals-img-contnent">
                    <span class="product_offer">{{product.p_offer}}% off</span>
                    <a href="{% url "customer:product_details_view" product.p_id %}" class="text-decoration-none">
                        <img class="img-fluid" style="border-radius:0.5rem 0.5rem 0rem 0rem" 
                        {% for image in product.product_images.all %}
                            {% if image.pimage_priority == 1 and image.pimage_type == 'large' %}
                                src="{{image.p_image.url}}"
                            {% endif %}
                        {% endfor %}
                        alt="">
                    </a>
                </div>
                <div class="new-arrival-content text-center mt-3">
                    <h4 class="m-0"><a href="{% url "customer:product_details_view" product.p_id %}">{{product.p_name}}</a></h4>
                    <div class="">
                        <span class="price regular_price">TK.{{product.p_price}}</span>
                        <span class="price offer_price">TK.{{product.p_offer_price}}</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>