{% load static %}
<div class="footer p-0">
    <div class="container">
        <div class="row pt-4">
            <div class="col-lg-3 col-md-12 d-flex flex-column justify-content-center align-items-center py-sm-5" style="row-gap: 18px;">
                <div>
                    <a href="{% url 'customer:customer_home_view' %}"><img src="{% static 'images/logo.png' %}" style="width:200px" alt=""></a>
                </div>
                <div class="footer-social-icon">
                    <a href="#" class="footer-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="footer-icon"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="footer-icon"><i class="fab fa-instagram"></i></a>
                </div>

            </div>
            <div class="col-lg-3 col-6 d-flex flex-column justify-content-center align-items-center pt-2">
                <ul>
                    <li><a href="{% url 'customer:website_about_us' %}" class="footer-link">About us</a></li>
                    <li><a href="{% url 'customer:website_product_size_guide' %}" class="footer-link">Size Guide</a></li>
                    <li><a href="{% url 'customer:privacy_policy_view' %}" class="footer-link">Privacy Policy</a></li>
                    <li><a href="{% url 'customer:website_cookie_policy_' %}" class="footer-link">Cokkie Policy</a></li>
                    {% comment %} <li><a href="{% url 'customer:order_traking_view' %}" class="footer-link">Order Traking</a></li>  {% endcomment %}
                </ul>
            </div>
            <div class="col-lg-3 col-6 d-flex flex-column justify-content-center align-items-center pt-2">
                <ul>
                    <li><a href="{% url 'customer:payment_shipping_policy_view' %}" class="footer-link">Payment & Shipping Policy</a></li>
                    <li><a href="{% url 'customer:website_trems_and_condition' %}" class="footer-link">Terms & Conditions</a></li>
                    <li><a href="{% url 'customer:website_return_and_refund' %}" class="footer-link">Return & Refund Policy</a></li>
                    {% comment %} <li><a href="#" class="footer-link">Payment Method</a></li>
                    <li><a href="#" class="footer-link">Order Procedure</a></li> {% endcomment %}
                    
                    
                </ul>
            </div>
            <div class="col-lg-3 col-12 d-sm-flex flex-sm-column justify-sm-content-center align-items-center">
                <div>
                    <h2 class="contact-section">Contact Us</h2>
                    <p class="my-2 text-sm-center text-lg-start">Shop Address</p>
                    <p class="my-2 text-sm-center text-lg-start">Turongo</p>
                    <p class="my-2 text-sm-center text-lg-start">House-49, Road-16, Sector-14, Uttara, Dhaka,Bangladesh</p>
                    <p class="my-2 text-sm-center text-lg-start justify-sm-content-center"><i class="fas fa-envelope"></i><span class="mx-2">contact@turongo.com</span></p>
                    <p class="my-2 text-sm-center text-lg-start justify-sm-content-center"><i class="fa-solid fa-phone"></i><span  class="mx-2">+8801797-856496</span>,<span>+8801824-074287</span></p>
                    <p class="my-2 text-sm-center text-lg-start justify-sm-content-center"><i class="fab fa-whatsapp"></i><span class="mx-2">+8801824-074287(Message Only)</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="{% url "customer:customer_home_view" %}">turongo.com</a>
            <span id="footer_present_year"></span>
        </p>
    </div>
</div>