<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'customer:category_product_list' 'combo-offer' %}">Combo Offer</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:category_product_list' 'panjabi' %}">Panjabi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:category_product_list' 'shirt' %}">Shirt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:category_product_list' 't-shirt' %}">T-Shirt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:category_product_list' 'polo-shirt' %}">Polo Shirt</a>
    </li>
</ul>