<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:category_product_list' 'panjabi' 1 %}">Panjabi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:category_product_list' 'shirt' 2 %}">Shirt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:category_product_list' 't-shirt' 3 %}">T-Shirt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer:category_product_list' 'polo-shirt' 4 %}">Polo Shirt</a>
    </li>
</ul>