{% extends "customer/layouts/index.html" %}
{% block customertitle %}About Us{% endblock customertitle %}
{% block customerbody %}
<div class="w-100">
      <div class="w-100 d-flex justify-content-center">
            <div class="py-2 py-md-3 px-4 px-md-5 bg-info text-light rounded" style="width: fit-content;">About Us</div>
      </div>
      <div class="rte">
            <p><strong><u>Vision</u></strong></p>
      <ul>
            <li>To make great shoes accessible to everyone</li>
      </ul>
      <p>&nbsp;</p>
      <p><strong><u>Mission</u></strong></p>
      <ul>
            <li>To help people look and feel good.</li>
            <li>To be the customer's destination of choice.</li>
            <li>To attract and retain the best people.</li>
            <li>To remain the most respected footwear company.</li>
      </ul>
      
</div>
{% endblock customerbody %}