{% extends "customer/layouts/index.html" %}
{% block customertitle %}Trems and Conditions{% endblock customertitle %}
{% block customerbody %}
<div class="w-100">
      <div class="w-100 d-flex justify-content-center">
            <div class="py-2 py-md-3 px-4 px-md-5 bg-info text-light rounded" style="width: fit-content;">Trems and Conditions</div>
      </div>
      <div class="rte">
            <p>Dear Customer, we try our best from our end to provide you the best customer experience.</p>
            <p><strong>**The delivery of your order is subjected to availability of stock.</strong></p>
            <p><strong>**Check and receive your product in front of the delivery man. If your product is damaged, defective, incorrect or has any mismatch in size or pricing issue at the time of delivery, please return it immediately to the delivery person.</strong></p>
            <p>For any assistance, you can call our customer service at 09666200300. (9.00am to 9.00pm except Govt. holidays) But in case if you couldn't reach the customer service, you can provide your issue details after selecting the proper issue section in our <a style="color: blue;" href="https://docs.google.com/forms/d/e/1FAIpQLSf60vMNW5-L4gUXFf2JSRNX3cpo49E0IAcByNY13IXf5m06Fw/viewform" target="_blank">Report Issue Section</a>.</p>
            <p>&nbsp;</p>
      
      </div>
</div>
{% endblock customerbody %}