<div class="section-product">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="hp-sc-header-text">
                <span>Product Collections</span>
            </h2>
        </div>
        <div class="hp-sc-header-line">

        </div>
    </div>
    <div class="container">
        <div class="row gx-5">
            {% for product in products %}
                {% include 'customer/product/home-product-card.html' %}
            {% endfor %}
            
        </div>
    </div>
</div>