<!-- Set up your HTML -->
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-12 p-0">
            <div class="owl-carousel owl-theme" id="homeslider">
                {% for slide in slide_images %}
                    <div class="item">
                        <a href="{{slide.slide_link}}">
                            <img src="{{slide.slide_image.url}}" style="width:100%" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 col-12 p-0">
            <div class="w-100" style="height:100%">
                <a href="{{slide_image2.slide_link}}">
                    <img src="{{slide_image2.slide_image.url}}"  style="width:100%;height:92%" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
