{% extends "server/base/main.html" %}
{% block superMain %}
<div class="flex flex-col items-center justify-center">
    <div>Home Slider Add</div>
    <div class="w-1/2">
        <form action="{% url "server_app:slider_add" %}"  method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="mt-4">
                <label class="form-control w-full">
                    <div class="label">
                    <span class="label-text">Slide Url Link</span>
                    </div>
                    <input type="text"  name="slide_link" class="input input-bordered w-full" required/>
                </label>
            </div>
            <div class="mt-4">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Slider Priority</span>
                    </div>
                    <input type="number" min='1' max='5' value="1" name="slide_priority" class="input input-bordered w-full" required/>
                </label>
            </div>
            <div class="mt-4">
                <label class="form-control w-full">
                    <div class="label">
                    <span class="label-text">Slide Image</span>
                    </div>
                    <input type="file" name="slide_image" class="file-input file-input-bordered w-full" required/>
                </label>
            </div>
            
            <div class="mt-4 w-full flex justify-center">
                <input type="submit" class="px-3 py-2 bg-green-700 hover:bg-green-800 text-white font-[700] rounded-md" value="Add Product">
            </div>
        </form>
    </div>
</div>

{% endblock superMain %}
