{% extends 'customer/profile/profile-main.html' %}
{% block profileBread %}
<li class="breadcrumb-item active">
    <a href="{% url 'customer:profile_password_change_view' %}">change password</a>
</li>
{% endblock profileBread %}
{% block customerProfile %}
<div class="row justify-content-center py-5 mt-3">
    <div class="col-lg-4 col-12">
        <h2>Change password</h2>
        <form action="{% url 'customer:customer_change_password' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="mb-3">
                        <label class="mb-1"><strong>password</strong></label>
                        <input type="password" class="form-control" name='password' placeholder="password" >
                    </div>
                </div>
                
                <div class="col-lg-12 col-12">
                    <div class="mb-3">
                        <label class="mb-1"><strong>Re-Password</strong></label>
                        <input type="password" class="form-control" name='repassword' placeholder="Re - Password">
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success w-50">Save</button>
            </div>
        </form>
    </div>
</div>       
               
        
{% endblock customerProfile %}