{% load static %}
<div class="navbar bg-neutral-300 fixed z-50 top-0 left-0 right-0">
    <div class="flex-1">
      <a href="{% url 'server_app:dashboard' %}" class="btn btn-ghost text-xl">Turongo</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="turongo.com" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a href="{% url 'server_app:super_admin_logout' %}">Logout</a></li>
        </ul>
      </div>
    </div>
</div>