<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "server/base/head.html" %}
        {% include "server/base/css.html" %}
        <title>{% block superTitle %}{% endblock superTitle %}|Turongo</title>
    </head>
    <body>
        {% include "server/base/header.html" %}
        {% comment %} {% if messages %}
          {% for message in messages %}
            <div role="alert" class="alert alert-info">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
              <span>{{message}}.</span>
            </div>
          {% endfor %}
        {% endif %} {% endcomment %}
        
        <main class="flex">
          {% include "server/base/sidebar.html" %}
          <div class="h-screen overflow-y-auto pt-16 w-full pl-5">
            {% block superMain %}
        
            {% endblock superMain %}
          </div>
        </main>
        {% block superModal %}{% endblock superModal %}
        {% include "server/base/footer.html" %}
        {% include "server/base/script.html" %}
        {% include "server/base/ckeditor-script.html" %}
        {% block superScript %}{% endblock superScript %}
    </body>
</html>
