<div class="h-dvh pt-16 bg-base-200">
    <ul class="menu bg-base-200 w-60">
        <li>
            <a href="{% url 'server_app:dashboard' %}">Dashboard</a>
        </li>
        <li>
            <details>
              <summary>All Order</summary>
              <ul>
                <li><a href="{% url 'server_app:all_order_list' %}">All Orders</a></li>
                <li><a href="{% url 'server_app:request_order_list' %}">Request Order</a></li>
                <li><a href="{% url 'server_app:processing_order_list' %}">Processing Order</a></li>
                <li><a href="{% url 'server_app:shipping_order_list' %}">Shipping Order</a></li>
                <li><a href="{% url 'server_app:completed_order_list' %}">Completed Order</a></li>
              </ul>
            </details>
          </li>
        <li>
          <details>
            <summary>All Product</summary>
            <ul>
              <li><a href="{% url "super_app:product_add_view" %}">Add Product</a></li>
              <li><a href="{% url "super_app:active_product_view" %}">Active Product</a></li>
              <li><a href="#">In-Active Product</a></li>
              <li><a href="#">Out Of Stock Product</a></li>
              
            </ul>
          </details>
        </li>
        <li>
            <a href="{% url 'super_app:slider_list_view' %}">All Slider</a>
        </li>
        
    </ul>
</div>