{% extends "customer/layouts/index.html" %}
{% block customerbody %}
<h1>About Us</h1>
<p>At Turongo, we believe that fashion is more than just clothing; 
      it's a form of self-expression, creativity, and empowerment.
       Founded with a passion for style and a commitment to quality,
        Turongo strives to offer unique, trendy, and sustainable fashion 
        pieces that inspire confidence and individuality.
</p>

<p>Our journey began with a vision to redefine the fashion industry by merging modern aesthetics with traditional craftsmanship. Each garment at Turongo is meticulously crafted by skilled artisans, blending contemporary designs with timeless elegance. We take pride in our attention to detail, ensuring that every stitch reflects our dedication to excellence.</p>

<p>But Turongo is more than just a clothing brand; it's a community of fashion enthusiasts who celebrate diversity and inclusivity. We embrace different styles, cultures, and backgrounds, recognizing that beauty lies in our differences. Our collections are curated to cater to every individual, offering a wide range of sizes, styles, and fits to suit diverse preferences.</p>

<p>Sustainability is at the heart of everything we do at Turongo. We are committed to ethical practices, environmentally-friendly materials, and fair labor standards. From sourcing eco-conscious fabrics to minimizing waste in our production process, we strive to minimize our ecological footprint while creating fashion-forward pieces that stand the test of time.</p>

<p>At Turongo, we believe that everyone deserves to look and feel their best, regardless of shape, size, or background. Our mission is to inspire confidence, spark creativity, and empower individuals to express themselves authentically through fashion. Join us on this journey as we redefine style, one garment at a time.</p>
{% endblock customerbody %}