{% extends "customer/layouts/index.html" %}
{% block customertitle %}Payment and Shipping policy{% endblock customertitle %}
{% block customerbody %}
<p>We collect all the payment via Cash on Delivery(COD).</p>
<p>For returning products,all the money is refundable without delivery charge.</p>

<p>Turongo values the urgency of your orders. We will try 
 to make sure that your ordered products reach your door 
 in the fastest possible time. Once your order is placed,
  Our Customer Services Department will call you to confirm your order.</p>

<p>Your ordered products will be sent to your given address in 3 to 
7 business days for anywhere in Bangladesh. The shipping charge for inside 
Dhaka is 60TK and for outside Dhaka is 130TK.</p>

<p>We start the shipping process within 24 hours.
 So, if you want to cancel or modify any order, 
 please inform our Customer Services Department at your earliest.</p>

 <p>After you receive the shipment, our delivery team will wait 
for 10 minutes to let you try on the product. If you have any
 issue with the product you can contact our Customer Services Department and return the product instantly.</p>

<p>Please note:</p>

<p>special offer item will be exchanged/ refundable.</p>
<p>No monetary refund is acceptable.</p>
{% endblock customerbody %}