{% extends "server/base/main.html" %}
{% block superMain %}
<div class="py-3">
    <div class="flex justify-between items-center py-3">
        <div class="text-sm breadcrumbs">
            <ul>
              <li><a>Home</a></li> 
              <li><a>Documents</a></li> 
              <li>Add Document</li>
            </ul>
        </div>
        <button type="button" onclick="productImageUpload.showModal()" class="btn px-3 py-2 bg-green-700 hover:bg-green-800 text-white font-[700] rounded-md">New Image Upload</button>
    </div>
    
    <div class="grid grid-cols-3 gap-3">
        {% for image in images %}
            <div class="relative group">
                <img class="h-[500px] w-[500px] rounded-lg cursor-pointer group-hover:opacity-50" src="{{image.p_image.url}}" alt="">
                <div class="opacity-0 absolute top-1/2 bg-[#aba3a3] left-1/3 right-1/3 h-fit flex flex-col cursor-pointer rounded-md group-hover:opacity-100">
                    <button type="button" onclick="my_modal_{{image.id}}.showModal()" data-image-id-show="{{image.id}}" class="modal_show w-full flex gap-2 justify-center py-1 text-center text-white hover:bg-[#636363] items-center rounded-md"><i class="fa-regular fa-image"></i><span>Edit</span></button>
                    <a href="{% url 'server_app:product_gallery_image_delete' image.product.p_id image.pimage_priority %}" class="w-full flex gap-2 justify-center py-1 text-center text-white hover:bg-[#636363] items-center rounded-md"><i class="fa-regular fa-trash-can"></i><span>Delete</span></a>
                </div>
            </div>
            <dialog id="my_modal_{{image.id}}" class="modal">
                <div class="modal-box">
                    <h5>Product image Update</h5>
                    <form method="dialog">
                      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form method="POST" action="{% url 'server_app:product_image_update' image.id image.product.p_id %}" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="mt-4">
                            <label class="form-control w-full">
                                <input type="number" value="{{image.pimage_priority}}" name="instance_image_priority" class="hidden" required/>
                                <div class="label">
                                    <span class="label-text">Product Image Priority</span>
                                </div>
                                <input type="number" min='1' value="{{image.pimage_priority}}" name="image_priority" class="input input-bordered w-full" required/>
                            </label>
                        </div>
                        <div class="mt-4">
                            <label class="form-control w-full">
                                <div class="label">
                                    <span class="label-text">Product Image</span>
                                </div>
                                <label for="product_image{{image.id}}" class="flex justify-center" >
                                    <img src="{{image.p_image.url}}" class="w-[250px] h-[250px] cursor-pointer" id="new_product_image_show{{image.id}}" alt="">
                                </label>
                                <input type="file" id="product_image{{image.id}}" data-image-id="{{image.id}}" name="product_image" class="product_g_image file-input file-input-bordered w-full hidden" />
                            </label>
                        </div>
                        <div class="mt-4 w-full flex justify-center">
                            <input type="submit" class="px-3 py-2 bg-green-700 hover:bg-green-800 text-white font-[700] rounded-md" value="Update Product Image">
                        </div>
                    </form>
                </div>
            </dialog>
        {% endfor %}
        
    </div>
</div>

{% endblock superMain %}
{% block superModal %}
    {% include "server/super-admin/product/product-image/new-product-image-modal.html" %}
{% endblock superModal %}
{% block superScript %}
<script>

    var product_image_list = document.querySelectorAll(".product_g_image")
    product_image_list.forEach((image)=>{
        image.addEventListener("change",()=>{
            var image_id = image.getAttribute("data-image-id")
            var product_image_id = 'product_image'+String(image_id);
            var show_image_id = "#new_product_image_show" + String(image_id);
            var upload_image = document.getElementById(product_image_id);
            $(show_image_id).attr('src',URL.createObjectURL(upload_image.files[0]))
        })
    })
    
</script>
{% endblock superScript %}